node_modules
.turbo
.next
*.tsbuildinfo
dist
build
coverage
.DS_Store
.env
.env.local
.env.*.local
.expo
.runtime
Library
apps/mobile/.expo
apps/mobile/dist
apps/mobile/android
apps/mobile/ios
supabase/.branches
supabase/.temp
